*,
*::after
*::before{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
.botão_1{
    border:none;
    background-color:transparent; 
    position: relative;
    top:425px;
    
}
.botão_2{
    border:none;
    background-color:transparent; 
    position: relative;
    top:425px;

}

.wallpaper{
    width: 1600px;
    height: 700px;
    background: linear-gradient(0deg, rgba(31, 31, 31, 0.5), rgba(31, 31, 31, 0.5)), url(../img/mesa\ cafe.png);
    color: #FFFFFF;
}
.buttongreen{
    background: #0B1D03;
    border-radius: 4px;
    color: white;
}

.backprod1{
    height: 400px;
    width: 400px;
    border-radius: 8px;
    background: #F7F1E6;

}
.backprod2{
    height: 400px;
    width: 400px;
    border-radius: 8px;
    background: #F7F1E6;
}
.backprod3{
    height: 400px;
    width: 400px;
    border-radius: 8px;
    background: #F7F1E6;

}
.backprod4{
    height: 400px;
    width: 400px;
    border-radius: 8px;
    background: #F7F1E6;

}
.backprod5{
    height: 400px;
    width: 400px;
    border-radius: 8px;
    background: #F7F1E6;

}
.backprod6{
    height: 400px;
    width:  400px;
    border-radius: 8px;
    background: #F7F1E6;

}
.coffeimg{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/graos.png);
    width: 704px;
    height: 560px;
    color: white;
}
.acessoriosimg{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/bule.png);
    height: 560px;
    width: 704px;
    color: white;

}
.footer{
    width: 1600px;
    height: 480px;
    background: #F7F1E6;
    position: relative;
    top: 210px;
}